*** Important all the important modules ***

In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

*** Read the data from the CSV files and store in the Dataframe ***

In [76]:
features_df = pd.read_csv(r'C:\Users\rchauhan\Desktop\Springboard Materials\Capstone Project 2\Walmart Data\features.csv')
stores_df = pd.read_csv(r'C:\Users\rchauhan\Desktop\Springboard Materials\Capstone Project 2\Walmart Data\stores.csv')
train_data_df = pd.read_csv(r'C:\Users\rchauhan\Desktop\Springboard Materials\Capstone Project 2\Walmart Data\train.csv')
test_data_df = pd.read_csv(r'C:\Users\rchauhan\Desktop\Springboard Materials\Capstone Project 2\Walmart Data\test.csv')
sample_submission_df = pd.read_csv(r'C:\Users\rchauhan\Desktop\Springboard Materials\Capstone Project 2\Walmart Data\sampleSubmission.csv')

In [77]:
df = pd.merge(features_df,stores_df,on='Store',how='inner')

In [78]:
df.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,Type,Size
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True,A,151315
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False,A,151315
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False,A,151315
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False,A,151315

In [79]:
final_features = df

In [80]:
dept_count_df = train_data_df.groupby('Store')['Dept'].nunique().reset_index()

In [81]:
train_data_df.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [82]:
final_df = pd.merge(train_data_df,final_features,on=('Store','Date'),how='inner')

In [83]:
final_df

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y,Type,Size
0,1,1,2010-02-05,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
1,1,2,2010-02-05,50605.27,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
2,1,3,2010-02-05,13740.12,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
3,1,4,2010-02-05,39954.04,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
4,1,5,2010-02-05,32229.38,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
5,1,6,2010-02-05,5749.03,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
6,1,7,2010-02-05,21084.08,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
7,1,8,2010-02-05,40129.01,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
8,1,9,2010-02-05,16930.99,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
9,1,10,2010-02-05,30721.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
10,1,11,2010-02-05,24213.18,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
11,1,12,2010-02-05,8449.54,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
12,1,13,2010-02-05,41969.29,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
13,1,14,2010-02-05,19466.91,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
14,1,16,2010-02-05,10217.55,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
15,1,17,2010-02-05,13223.76,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
16,1,18,2010-02-05,4729.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
17,1,19,2010-02-05,1947.05,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
18,1,20,2010-02-05,5034.10,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
19,1,21,2010-02-05,8907.63,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
20,1,22,2010-02-05,13623.98,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
21,1,23,2010-02-05,24146.49,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
22,1,24,2010-02-05,8272.90,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
23,1,25,2010-02-05,11609.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
24,1,26,2010-02-05,11737.12,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
25,1,27,2010-02-05,2293.00,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
26,1,28,2010-02-05,1085.29,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
27,1,29,2010-02-05,7024.95,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
28,1,30,2010-02-05,5491.00,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
29,1,31,2010-02-05,3455.92,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421540,45,41,2012-10-26,1954.67,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421541,45,42,2012-10-26,4894.78,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421542,45,44,2012-10-26,3144.09,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421543,45,46,2012-10-26,13329.25,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421544,45,52,2012-10-26,1104.16,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421545,45,54,2012-10-26,23.92,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421546,45,55,2012-10-26,3458.17,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421547,45,56,2012-10-26,937.72,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421548,45,58,2012-10-26,275.00,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421549,45,59,2012-10-26,191.98,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421550,45,60,2012-10-26,117.00,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421551,45,67,2012-10-26,5772.09,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421552,45,71,2012-10-26,2789.38,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421553,45,72,2012-10-26,33366.60,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421554,45,74,2012-10-26,9814.88,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421555,45,79,2012-10-26,14618.60,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421556,45,80,2012-10-26,670.88,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421557,45,81,2012-10-26,14693.09,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421558,45,82,2012-10-26,17360.33,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421559,45,83,2012-10-26,717.82,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421560,45,85,2012-10-26,1689.10,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421561,45,87,2012-10-26,8187.66,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421562,45,90,2012-10-26,25352.32,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421563,45,91,2012-10-26,16330.84,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421564,45,92,2012-10-26,54608.75,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421565,45,93,2012-10-26,2487.80,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421566,45,94,2012-10-26,5203.31,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421567,45,95,2012-10-26,56017.47,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421568,45,97,2012-10-26,6817.48,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221
421569,45,98,2012-10-26,1076.80,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False,B,118221

In [84]:
a = final_df.groupby(['Store','Date'])['Weekly_Sales'].sum().reset_index()
store_weekly_sales_df = pd.merge(a,final_features,on=('Store','Date'),how='inner')
store_weekly_sales_df

,Store,Date,Weekly_Sales,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,Type,Size
0,1,2010-02-05,1643690.90,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
1,1,2010-02-12,1641957.44,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True,A,151315
2,1,2010-02-19,1611968.17,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False,A,151315
3,1,2010-02-26,1409727.59,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False,A,151315
4,1,2010-03-05,1554806.68,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False,A,151315
5,1,2010-03-12,1439541.59,57.79,2.667,NaN,NaN,NaN,NaN,NaN,211.380643,8.106,False,A,151315
6,1,2010-03-19,1472515.79,54.58,2.720,NaN,NaN,NaN,NaN,NaN,211.215635,8.106,False,A,151315
7,1,2010-03-26,1404429.92,51.45,2.732,NaN,NaN,NaN,NaN,NaN,211.018042,8.106,False,A,151315
8,1,2010-04-02,1594968.28,62.27,2.719,NaN,NaN,NaN,NaN,NaN,210.820450,7.808,False,A,151315
9,1,2010-04-09,1545418.53,65.86,2.770,NaN,NaN,NaN,NaN,NaN,210.622857,7.808,False,A,151315
10,1,2010-04-16,1466058.28,66.32,2.808,NaN,NaN,NaN,NaN,NaN,210.488700,7.808,False,A,151315
11,1,2010-04-23,1391256.12,64.84,2.795,NaN,NaN,NaN,NaN,NaN,210.439123,7.808,False,A,151315
12,1,2010-04-30,1425100.71,67.41,2.780,NaN,NaN,NaN,NaN,NaN,210.389546,7.808,False,A,151315
13,1,2010-05-07,1603955.12,72.55,2.835,NaN,NaN,NaN,NaN,NaN,210.339968,7.808,False,A,151315
14,1,2010-05-14,1494251.50,74.78,2.854,NaN,NaN,NaN,NaN,NaN,210.337426,7.808,False,A,151315
15,1,2010-05-21,1399662.07,76.44,2.826,NaN,NaN,NaN,NaN,NaN,210.617093,7.808,False,A,151315
16,1,2010-05-28,1432069.95,80.44,2.759,NaN,NaN,NaN,NaN,NaN,210.896761,7.808,False,A,151315
17,1,2010-06-04,1615524.71,80.69,2.705,NaN,NaN,NaN,NaN,NaN,211.176428,7.808,False,A,151315
18,1,2010-06-11,1542561.09,80.43,2.668,NaN,NaN,NaN,NaN,NaN,211.456095,7.808,False,A,151315
19,1,2010-06-18,1503284.06,84.11,2.637,NaN,NaN,NaN,NaN,NaN,211.453772,7.808,False,A,151315
20,1,2010-06-25,1422711.60,84.34,2.653,NaN,NaN,NaN,NaN,NaN,211.338653,7.808,False,A,151315
21,1,2010-07-02,1492418.14,80.91,2.669,NaN,NaN,NaN,NaN,NaN,211.223533,7.787,False,A,151315
22,1,2010-07-09,1546074.18,80.48,2.642,NaN,NaN,NaN,NaN,NaN,211.108414,7.787,False,A,151315
23,1,2010-07-16,1448938.92,83.15,2.623,NaN,NaN,NaN,NaN,NaN,211.100385,7.787,False,A,151315
24,1,2010-07-23,1385065.20,83.36,2.608,NaN,NaN,NaN,NaN,NaN,211.235144,7.787,False,A,151315
25,1,2010-07-30,1371986.60,81.84,2.640,NaN,NaN,NaN,NaN,NaN,211.369903,7.787,False,A,151315
26,1,2010-08-06,1605491.78,87.16,2.627,NaN,NaN,NaN,NaN,NaN,211.504662,7.787,False,A,151315
27,1,2010-08-13,1508237.76,87.00,2.692,NaN,NaN,NaN,NaN,NaN,211.639421,7.787,False,A,151315
28,1,2010-08-20,1513080.49,86.65,2.664,NaN,NaN,NaN,NaN,NaN,211.603363,7.787,False,A,151315
29,1,2010-08-27,1449142.92,85.22,2.619,NaN,NaN,NaN,NaN,NaN,211.567306,7.787,False,A,151315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6405,45,2012-04-06,899479.43,49.73,3.996,13450.45,NaN,26.59,3363.54,3962.01,190.685171,8.567,False,B,118221
6406,45,2012-04-13,781970.60,51.83,4.044,4736.94,6047.12,16.68,1355.11,2246.12,190.759596,8.567,False,B,118221
6407,45,2012-04-20,776661.74,63.13,4.027,9210.90,2667.05,6.25,970.33,2568.22,190.813801,8.567,False,B,118221
6408,45,2012-04-27,711571.88,53.20,4.004,2872.86,0.03,37.12,74.97,2495.29,190.868006,8.567,False,B,118221
6409,45,2012-05-04,782300.68,55.21,3.951,11984.62,NaN,47.52,6150.63,1775.54,190.922212,8.567,False,B,118221
6410,45,2012-05-11,770487.37,61.24,3.889,12611.18,NaN,21.36,1667.39,2313.12,190.976417,8.567,False,B,118221
6411,45,2012-05-18,800842.28,66.30,3.848,6813.74,NaN,13.86,936.49,2941.55,190.996448,8.567,False,B,118221
6412,45,2012-05-25,817741.17,67.21,3.798,5370.39,NaN,361.22,1287.62,2461.81,191.002810,8.567,False,B,118221
6413,45,2012-06-01,837144.63,74.48,3.742,10643.62,48.20,201.56,2599.35,1856.97,191.009171,8.567,False,B,118221
6414,45,2012-06-08,795133.00,64.30,3.689,8429.61,148.60,76.15,1465.54,7180.97,191.015533,8.567,False,B,118221
6415,45,2012-06-15,821498.18,71.93,3.620,8148.19,252.70,90.05,1226.11,2942.39,191.029973,8.567,False,B,118221
6416,45,2012-06-22,822569.16,74.22,3.564,5565.31,222.50,1.16,2149.76,7474.76,191.064610,8.567,False,B,118221
6417,45,2012-06-29,773367.71,75.22,3.506,3291.36,425.60,NaN,314.88,2255.34,191.099246,8.567,False,B,118221
6418,45,2012-07-06,843361.10,82.99,3.475,5878.09,169.00,64.36,2996.47,5477.04,191.133883,8.684,False,B,118221
6419,45,2012-07-13,749817.08,79.97,3.523,2978.08,118.90,22.07,1899.54,5181.94,191.168519,8.684,False,B,118221
6420,45,2012-07-20,737613.65,78.89,3.567,6682.75,24.24,12.83,2249.85,2288.30,191.167043,8.684,False,B,118221
6421,45,2012-07-27,711671.58,77.20,3.647,5753.81,167.95,1.23,9181.48,3156.06,191.165566,8.684,False,B,118221
6422,45,2012-08-03,725729.51,76.58,3.654,24853.05,39.56,17.96,11142.69,2768.32,191.164090,8.684,False,B,118221
6423,45,2012-08-10,733037.32,78.65,3.722,17868.84,50.60,57.66,2593.93,1890.59,191.162613,8.684,False,B,118221
6424,45,2012-08-17,722496.93,75.71,3.807,3657.79,6.00,0.30,1630.50,3794.22,191.228492,8.684,False,B,118221
6425,45,2012-08-24,718232.26,72.62,3.834,7936.20,58.38,22.00,5518.07,2291.97,191.344887,8.684,False,B,118221
6426,45,2012-08-31,734297.87,75.09,3.867,23641.30,6.00,92.93,6988.31,3992.13,191.461281,8.684,False,B,118221
6427,45,2012-09-07,766512.66,75.70,3.911,11024.45,12.80,52.63,1854.77,2055.70,191.577676,8.684,True,B,118221
6428,45,2012-09-14,702238.27,67.87,3.948,11407.95,NaN,4.30,3421.72,5268.92,191.699850,8.684,False,B,118221
6429,45,2012-09-21,723086.20,65.32,4.038,8452.20,92.28,63.24,2376.38,8670.40,191.856704,8.684,False,B,118221
6430,45,2012-09-28,713173.95,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,192.013558,8.684,False,B,118221
6431,45,2012-10-05,733455.07,64.89,3.985,5046.74,NaN,18.82,2253.43,2340.01,192.170412,8.667,False,B,118221
6432,45,2012-10-12,734464.36,54.47,4.000,1956.28,NaN,7.89,599.32,3990.54,192.327265,8.667,False,B,118221
6433,45,2012-10-19,718125.53,56.47,3.969,2004.02,NaN,3.18,437.73,1537.49,192.330854,8.667,False,B,118221
6434,45,2012-10-26,760281.43,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,192.308899,8.667,False,B,118221

In [85]:
store_weekly_sales_df['Date'] = pd.to_datetime(store_weekly_sales_df['Date'])
store_weekly_sales_df['Month'] = store_weekly_sales_df['Date'].dt.month
store_weekly_sales_df['dt_date'] = store_weekly_sales_df['Date'].dt.day

In [86]:
store_weekly_sales_df = pd.merge(store_weekly_sales_df,dept_count_df,on=('Store'),how='left')

In [87]:
store_weekly_sales_df

,Store,Date,Weekly_Sales,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,Type,Size,Month,dt_date,Dept
0,1,2010-02-05,1643690.90,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315,2,5,77
1,1,2010-02-12,1641957.44,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True,A,151315,2,12,77
2,1,2010-02-19,1611968.17,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False,A,151315,2,19,77
3,1,2010-02-26,1409727.59,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False,A,151315,2,26,77
4,1,2010-03-05,1554806.68,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False,A,151315,3,5,77
5,1,2010-03-12,1439541.59,57.79,2.667,NaN,NaN,NaN,NaN,NaN,211.380643,8.106,False,A,151315,3,12,77
6,1,2010-03-19,1472515.79,54.58,2.720,NaN,NaN,NaN,NaN,NaN,211.215635,8.106,False,A,151315,3,19,77
7,1,2010-03-26,1404429.92,51.45,2.732,NaN,NaN,NaN,NaN,NaN,211.018042,8.106,False,A,151315,3,26,77
8,1,2010-04-02,1594968.28,62.27,2.719,NaN,NaN,NaN,NaN,NaN,210.820450,7.808,False,A,151315,4,2,77
9,1,2010-04-09,1545418.53,65.86,2.770,NaN,NaN,NaN,NaN,NaN,210.622857,7.808,False,A,151315,4,9,77
10,1,2010-04-16,1466058.28,66.32,2.808,NaN,NaN,NaN,NaN,NaN,210.488700,7.808,False,A,151315,4,16,77
11,1,2010-04-23,1391256.12,64.84,2.795,NaN,NaN,NaN,NaN,NaN,210.439123,7.808,False,A,151315,4,23,77
12,1,2010-04-30,1425100.71,67.41,2.780,NaN,NaN,NaN,NaN,NaN,210.389546,7.808,False,A,151315,4,30,77
13,1,2010-05-07,1603955.12,72.55,2.835,NaN,NaN,NaN,NaN,NaN,210.339968,7.808,False,A,151315,5,7,77
14,1,2010-05-14,1494251.50,74.78,2.854,NaN,NaN,NaN,NaN,NaN,210.337426,7.808,False,A,151315,5,14,77
15,1,2010-05-21,1399662.07,76.44,2.826,NaN,NaN,NaN,NaN,NaN,210.617093,7.808,False,A,151315,5,21,77
16,1,2010-05-28,1432069.95,80.44,2.759,NaN,NaN,NaN,NaN,NaN,210.896761,7.808,False,A,151315,5,28,77
17,1,2010-06-04,1615524.71,80.69,2.705,NaN,NaN,NaN,NaN,NaN,211.176428,7.808,False,A,151315,6,4,77
18,1,2010-06-11,1542561.09,80.43,2.668,NaN,NaN,NaN,NaN,NaN,211.456095,7.808,False,A,151315,6,11,77
19,1,2010-06-18,1503284.06,84.11,2.637,NaN,NaN,NaN,NaN,NaN,211.453772,7.808,False,A,151315,6,18,77
20,1,2010-06-25,1422711.60,84.34,2.653,NaN,NaN,NaN,NaN,NaN,211.338653,7.808,False,A,151315,6,25,77
21,1,2010-07-02,1492418.14,80.91,2.669,NaN,NaN,NaN,NaN,NaN,211.223533,7.787,False,A,151315,7,2,77
22,1,2010-07-09,1546074.18,80.48,2.642,NaN,NaN,NaN,NaN,NaN,211.108414,7.787,False,A,151315,7,9,77
23,1,2010-07-16,1448938.92,83.15,2.623,NaN,NaN,NaN,NaN,NaN,211.100385,7.787,False,A,151315,7,16,77
24,1,2010-07-23,1385065.20,83.36,2.608,NaN,NaN,NaN,NaN,NaN,211.235144,7.787,False,A,151315,7,23,77
25,1,2010-07-30,1371986.60,81.84,2.640,NaN,NaN,NaN,NaN,NaN,211.369903,7.787,False,A,151315,7,30,77
26,1,2010-08-06,1605491.78,87.16,2.627,NaN,NaN,NaN,NaN,NaN,211.504662,7.787,False,A,151315,8,6,77
27,1,2010-08-13,1508237.76,87.00,2.692,NaN,NaN,NaN,NaN,NaN,211.639421,7.787,False,A,151315,8,13,77
28,1,2010-08-20,1513080.49,86.65,2.664,NaN,NaN,NaN,NaN,NaN,211.603363,7.787,False,A,151315,8,20,77
29,1,2010-08-27,1449142.92,85.22,2.619,NaN,NaN,NaN,NaN,NaN,211.567306,7.787,False,A,151315,8,27,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6405,45,2012-04-06,899479.43,49.73,3.996,13450.45,NaN,26.59,3363.54,3962.01,190.685171,8.567,False,B,118221,4,6,74
6406,45,2012-04-13,781970.60,51.83,4.044,4736.94,6047.12,16.68,1355.11,2246.12,190.759596,8.567,False,B,118221,4,13,74
6407,45,2012-04-20,776661.74,63.13,4.027,9210.90,2667.05,6.25,970.33,2568.22,190.813801,8.567,False,B,118221,4,20,74
6408,45,2012-04-27,711571.88,53.20,4.004,2872.86,0.03,37.12,74.97,2495.29,190.868006,8.567,False,B,118221,4,27,74
6409,45,2012-05-04,782300.68,55.21,3.951,11984.62,NaN,47.52,6150.63,1775.54,190.922212,8.567,False,B,118221,5,4,74
6410,45,2012-05-11,770487.37,61.24,3.889,12611.18,NaN,21.36,1667.39,2313.12,190.976417,8.567,False,B,118221,5,11,74
6411,45,2012-05-18,800842.28,66.30,3.848,6813.74,NaN,13.86,936.49,2941.55,190.996448,8.567,False,B,118221,5,18,74
6412,45,2012-05-25,817741.17,67.21,3.798,5370.39,NaN,361.22,1287.62,2461.81,191.002810,8.567,False,B,118221,5,25,74
6413,45,2012-06-01,837144.63,74.48,3.742,10643.62,48.20,201.56,2599.35,1856.97,191.009171,8.567,False,B,118221,6,1,74
6414,45,2012-06-08,795133.00,64.30,3.689,8429.61,148.60,76.15,1465.54,7180.97,191.015533,8.567,False,B,118221,6,8,74
6415,45,2012-06-15,821498.18,71.93,3.620,8148.19,252.70,90.05,1226.11,2942.39,191.029973,8.567,False,B,118221,6,15,74
6416,45,2012-06-22,822569.16,74.22,3.564,5565.31,222.50,1.16,2149.76,7474.76,191.064610,8.567,False,B,118221,6,22,74
6417,45,2012-06-29,773367.71,75.22,3.506,3291.36,425.60,NaN,314.88,2255.34,191.099246,8.567,False,B,118221,6,29,74
6418,45,2012-07-06,843361.10,82.99,3.475,5878.09,169.00,64.36,2996.47,5477.04,191.133883,8.684,False,B,118221,7,6,74
6419,45,2012-07-13,749817.08,79.97,3.523,2978.08,118.90,22.07,1899.54,5181.94,191.168519,8.684,False,B,118221,7,13,74
6420,45,2012-07-20,737613.65,78.89,3.567,6682.75,24.24,12.83,2249.85,2288.30,191.167043,8.684,False,B,118221,7,20,74
6421,45,2012-07-27,711671.58,77.20,3.647,5753.81,167.95,1.23,9181.48,3156.06,191.165566,8.684,False,B,118221,7,27,74
6422,45,2012-08-03,725729.51,76.58,3.654,24853.05,39.56,17.96,11142.69,2768.32,191.164090,8.684,False,B,118221,8,3,74
6423,45,2012-08-10,733037.32,78.65,3.722,17868.84,50.60,57.66,2593.93,1890.59,191.162613,8.684,False,B,118221,8,10,74
6424,45,2012-08-17,722496.93,75.71,3.807,3657.79,6.00,0.30,1630.50,3794.22,191.228492,8.684,False,B,118221,8,17,74
6425,45,2012-08-24,718232.26,72.62,3.834,7936.20,58.38,22.00,5518.07,2291.97,191.344887,8.684,False,B,118221,8,24,74
6426,45,2012-08-31,734297.87,75.09,3.867,23641.30,6.00,92.93,6988.31,3992.13,191.461281,8.684,False,B,118221,8,31,74
6427,45,2012-09-07,766512.66,75.70,3.911,11024.45,12.80,52.63,1854.77,2055.70,191.577676,8.684,True,B,118221,9,7,74
6428,45,2012-09-14,702238.27,67.87,3.948,11407.95,NaN,4.30,3421.72,5268.92,191.699850,8.684,False,B,118221,9,14,74
6429,45,2012-09-21,723086.20,65.32,4.038,8452.20,92.28,63.24,2376.38,8670.40,191.856704,8.684,False,B,118221,9,21,74
6430,45,2012-09-28,713173.95,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,192.013558,8.684,False,B,118221,9,28,74
6431,45,2012-10-05,733455.07,64.89,3.985,5046.74,NaN,18.82,2253.43,2340.01,192.170412,8.667,False,B,118221,10,5,74
6432,45,2012-10-12,734464.36,54.47,4.000,1956.28,NaN,7.89,599.32,3990.54,192.327265,8.667,False,B,118221,10,12,74
6433,45,2012-10-19,718125.53,56.47,3.969,2004.02,NaN,3.18,437.73,1537.49,192.330854,8.667,False,B,118221,10,19,74
6434,45,2012-10-26,760281.43,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,192.308899,8.667,False,B,118221,10,26,74

In [88]:
store_weekly_sales_df['IsHoliday'] = store_weekly_sales_df['IsHoliday'].apply(lambda x: 1 if x == True else x)
store_weekly_sales_df['IsHoliday'] = store_weekly_sales_df['IsHoliday'].apply(lambda x: 0 if x == False else x)

In [92]:
a = pd.get_dummies(store_weekly_sales_df)

In [105]:
b = a.drop('Type_C',axis=1)

In [106]:
store_weekly_sales_df = b.drop('Date',axis=1)

In [111]:
store_weekly_sales_df.head()

,Store,Weekly_Sales,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,Size,Month,dt_date,Dept,Type_A,Type_B
0,1,1643690.90,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,0,151315,2,5,77,1,0
1,1,1641957.44,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,1,151315,2,12,77,1,0
2,1,1611968.17,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,0,151315,2,19,77,1,0
3,1,1409727.59,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,0,151315,2,26,77,1,0
4,1,1554806.68,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,0,151315,3,5,77,1,0

In [112]:
y = store_weekly_sales_df['Weekly_Sales']
X = store_weekly_sales_df.drop('Weekly_Sales',axis=1).values

In [113]:
X

array([[  1.   ,  42.31 ,   2.572, ...,  77.   ,   1.   ,   0.   ],
       [  1.   ,  38.51 ,   2.548, ...,  77.   ,   1.   ,   0.   ],
       [  1.   ,  39.93 ,   2.514, ...,  77.   ,   1.   ,   0.   ],
       ...,
       [ 45.   ,  54.47 ,   4.   , ...,  74.   ,   0.   ,   1.   ],
       [ 45.   ,  56.47 ,   3.969, ...,  74.   ,   0.   ,   1.   ],
       [ 45.   ,  58.85 ,   3.882, ...,  74.   ,   0.   ,   1.   ]])

In [114]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values = 'NaN',strategy = 'mean',axis = 0)
imp.fit(X)
X = imp.transform(X)

In [127]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
clf = RandomForestRegressor(n_estimators=100, max_features=2, min_samples_split=3)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
sc = clf.score(X_test,y_test)
sc

0.95394208424918603